autom4te.cache/
Makefile
config.log
config.status
*.desktop
libtool
po/.intltool-merge-cache
po/POTFILES
po/*.gmo
po/stamp-it
po/Makefile.in
src/.deps/
src/spacefm
src/xml-purge
*.o
packages/*/*.src.tar.gz
packages/*/*.changes
